.header {
    background-color: red;
    width: 100%;
    position: fixed;
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 24px;
}

.main {
    height: 100vh;
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    width: 100%;
    max-width: 350px;
    background-color: salmon;
    padding: 20px;
}

.feed {
    background-color: sienna;
    width: 100%;
    padding: 20px;
}